<!doctype html>
<html>
<head>
    <title>My AngularJS App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="mainMenu.js"></script>
    <style>
        .login-window {
            text-align: center;
            margin: auto;
            width: 320px;
            height: 240px;
            border: 3px solid #73AD21;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div ng-app="formFactory" ng-controller="formFactoryController as vm">
        <div class="login-window">
                <input type="text" placeholder="Enter username" ng-model="vm.username" />
                <br />
                <input type="{{ vm.inputType }}" placeholder="Enter password" ng-model="vm.password" />
                <br />
                <button id="showPass" ng-click="vm.hideShowPassword()" />
                <label for="showPass" ng-if="vm.isPasswordShown">Hide password</label>
                <label for="showPass" ng-if="!vm.isPasswordShown">Show password</label>
                <button ng-click="vm.login(vm.username, vm.password)">Login</button>
            </div>
    </div>

</body>
</html>