<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-image: url("http://www.profindsearch.com/fun_casinos/images/texas_holdem_poker-image.jpg");
            background-size: 100% auto;
        }
        .login-window {
            text-align: center;
            margin: auto;
            width: 320px;
            height: 70px;
            border: 3px solid orange;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="login-window">
        <input type="text" placeholder="Enter username" ng-model="username" />
        <br />
        <input type="{{ inputType }}" placeholder="Enter password" ng-model="password" />
        <br />
        <button id="showPass" ng-click="hideShowPassword()" />
        <label for="showPass" ng-if="isPasswordShown">Hide password</label>
        <label for="showPass" ng-if="!isPasswordShown">Show password</label>
        <button ng-click="login(username, password)">Login</button>
        <span>{{ loginValue }}</span>
    </div>
</body>
</html>